.skill{
  color: #FFF;
  border-radius: 30px;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px 20px;
  background-color: #6FBDFC;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 140%;
  cursor: default;
}